body {
	color: #eee;
	background-color: #222;
	margin: 2% auto;
	max-width: min(95%, 64em);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 0;
}

h1 {
	color: #fc0;
}

h1.title {
	vertical-align: middle;
	margin: 0;
	font-size: 300%;
}

h1.error {
	font-family: monospace;
	font-size: 600%;
	line-height: 0;
}

div.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

a:link {
	color: #fc0;
	text-decoration: none;
}

a:visited {
	color: #da0;
	text-decoration: none;
}

a:hover {
	color: #fe2;
	text-decoration: underline;
}

a:active {
	color: #ff6;
	text-decoration: none;
}

a.button {
	color: #222;
	background-color: #fc0;
	padding: 0.2em 0.4em;
	border-radius: 0.4em;
	font-weight: bold;
	text-decoration: none;
}

a.button:link {
	background-color: #fc0;
}

a.button:visited {
	background-color: #da0;
}

a.button:hover {
	background-color: #fe2;
}

a.button:active {
	background-color: #ff6;
}

a.title {
	text-decoration: none;
}

p.license {
	color: #aaa;
	text-align: center;
}

h1.topic,
h2.topic {
	margin-bottom: 0;
}

h3.topic {
	margin-bottom: -0.5em;
}

p.detail {
	color: #aaa;
}

span.author {
	font-weight: bold;
}

p.content {
	white-space: pre-line;
}

div.post {
	display: flex;
	flex-flow: row;
}

input.text,
textarea.text {
	width: 100%;
	color: #eee;
	background-color: #444;
	padding: 0.5em;
	border: none;
	border-radius: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

button,
input.submit {
	color: #222;
	background-color: #fc0;
	padding: 0.2em 0.4em;
	border: none;
	border-radius: 0.4em;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 1em;
}

button:hover,
input.submit:hover {
	background-color: #fe2;
}

button:active,
input.submit:active {
	background-color: #ff6;
}

.highlight {
	background: #333;
}

img {
	width: 5em;
	height: 5em;
	float: left;
	margin: 1em;
}
